# Ignore virtual environment
/botenv/

# Ignore everything in the models folder except .gitkeep
/models/
!/models/.gitkeep

# Ignore .zip and .csv
*.zip

#Ignore .txt
*.txt

#Ignore
*.xlsx

#Ignore .pyc
*.pyc


