# Ignore virtual environment
/botenv/

# Ignore everything in the models folder except .gitkeep
/models/
!/models/.gitkeep

# Ignore everything in the output folder except .gitkeep
/Output/*
!/Output/.gitkeep

# Ignore .zip and .csv
*.zip

# Ignore all .csv expect .csv in output folder
*.csv
!/Output/*.csv


